<!-- app/templates/app/home.html -->
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column min-vh-100">
  <!-- Background Section -->
  <div class="position-relative w-100" style="height: 100vh;">
      <!-- Background Image -->
      <div 
          class="position-absolute top-0 start-0 w-100 h-100" 
          style="background-image: url('{% static "images/home.jpeg" %}'); background-size: cover; background-position: center; opacity: 0.8; filter: brightness(50%);">
      </div>

      <!-- Overlay -->
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
          <div class="text-white p-3">
              <h1 class="display-4 fw-bold mb-3">Welcome to Gothalo</h1>
              <p class="fs-5">From site to screen reporting made easy</p>
          </div>
      </div>
  </div>

     
    <div class="product">
      <h2>Our Product</h2>
      <div class="product-images">
        <img src="{% static 'images/laborreport.png' %}" alt="labour">
        <p>Labour Report</p>

        <img src="{% static 'images/fieldreport.png' %}" alt="field">
        <p>Field Report</p>
        <img src="{% static 'images/inventoryreport.png' %}" alt="inventory">
        <p>Inventory Report</p>
      </div>
      </div>
      

    </div>
</div> 

 




    


     


{% endblock %}
