<!-- app/templates/app/home.html -->
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column min-vh-100">
  <!-- Background Section -->
  <div class="position-relative w-100" style="height: 100vh;">
      <!-- Background Image -->
      <div 
          class="position-absolute top-0 start-0 w-100 h-100" 
          style="background-image: url('{% static "images/home.jpeg" %}'); background-size: cover; background-position: center; opacity: 0.8; filter: brightness(50%);">
      </div>

      <!-- Overlay -->
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center">
          <div class="text-white p-3">
              <h1 class="display-4 fw-bold mb-3">Welcome to Gothalo</h1>
              <p class="fs-5">From site to screen reporting made easy</p>
          </div>
      </div>
  </div>

     
    <div class="product">
      <h2>Our Product</h2>
      <div class="product-images">
        <img src="{% static 'images/laborreport.png' %}" alt="labour">
        <p>Labour Report</p>

        <img src="{% static 'images/fieldreport.png' %}" alt="field">
        <p>Field Report</p>
        <img src="{% static 'images/inventoryreport.png' %}" alt="inventory">
        <p>Inventory Report</p>
      </div>
      </div>
      

    </div>
    <div class="why-gothalo">
      <h2>WHY GOTHALO?</h2>
      <p>Labour Attendance & Hour Tracking</p>
      <p>Integrated Inventory Management</p>
      <p>Comprehensive Site Reporting</p>
      <p>We are all in one solution making daily reporting easy and effective ensuring transparency</p>
  </div>
</div>
<div class="story">
    <h2>Our story</h2>
    <button id="storybtn" data-url="{% url 'about' %}" onclick="showStory()">Click Here</button>
</div>
  <div class="footer">
        <div class="company">
              <img src="{% static 'images/logo.png' %}" alt="Gothalo Logo" style="height: 40px;">
        </div>
        <div class="contact">
            <p>Contact us: 9767653676, 9862769322</p>
            <p>Email: info@gothalo.com</p>
        </div>
        <div class="social-media">
            <a href="https://www.instagram.com/gothalo_insta/">
              <img src="{% static 'images/instragram.png' %}" alt="Instagram"> <!-- Replace with actual icon path -->
            </a>
            <a href="https://www.youtube.com/channel/UCmWq1LbPbl9Y8lLVWeQrmEA">
                <img src="{% static 'images/youtube.png' %}" alt="YouTube"> <!-- Replace with actual icon path -->
            </a>
            <a href="https://www.whatsapp.com">
                <img src="{%static 'images/whatsapp.png'%}" alt="WhatsApp"> <!-- Replace with actual icon path -->
            </a>
        </div>
    </div>
</div> 


{% endblock %}
